# Build
firmware/build/
*.o
*.elf
*.bin
*.hex
*.map
*.list

# Python
__pycache__/
*.pyc
*.egg-info/
dist/
.venv/
venv/

# IDE
.vscode/
.idea/
*.ioc
firmware/.mxproject
firmware/Debug/
firmware/Release/

# OS
.DS_Store
Thumbs.db

# User calibration data
software/python/calibration_data/
software/python/assets/mano/models/*.pkl
