<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="jaka_s12">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
    <xacro:arg name="use_gazebo" default="false"/>
    <xacro:arg name="use_rviz_sim" default="false"/>

    <!-- Import jaka_s12 urdf file -->
    <xacro:include filename="$(find jaka_description)/urdf/jaka_s12.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="jaka_s12.ros2_control.xacro" />


    <!-- <xacro:jaka_s12_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/> -->
    <xacro:jaka_s12_ros2_control name="jaka_s12_hardware" initial_positions_file="$(arg initial_positions_file)" use_gazebo="$(arg use_gazebo)" use_rviz_sim="$(arg use_rviz_sim)" />

</robot>
